html, body {
  text-align: center;
}
.container {
  margin-top: 80px;
}
h1, p {
  text-align: center;
}

form {
  text-align: center;
  font-size: 1.2em;
}

.sharethis-inline-share-buttons {
  padding: 10px
}


* {
  box-sizing: border-box;
  font-family: "Quicksand";
  margin: 0;
}


/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}


/* Navbar */
.custom-navbar {
  background-image: url("IMG/header.jpg");
  background-size: auto;
  background-position: center;
  height: 200px;
  z-index: 9999;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 25px;
  background-color: rgb(165, 204, 228);
  padding: auto;
  text-align: center;
}

.nav-item a {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
  font-family: Arial;
}

.nav-item:hover {
  color: white;
  background-color: #06a4de;
  transition-duration: 0.5s;
}

.blue{
  color: darkblue;
}

/* Social */
.social-container {
  color: #4b4b4b;
}

a.social {
  transition: transform 250ms;
}

a.social:hover {
  transform: translateY(-3px);
}

a.facebook {
  color: #4968ad;
}

.text-center{
  padding-bottom: 2vw;
  border-bottom:2px solid #4b4b4b;
}

.table-responsive1{
  display: block;
  position: absolute;
  width: 55vw;
  height: 50vw;
  left: 43vw;
  overflow-x: auto;
  overflow-y: auto;
}

/* Footer */
footer{
    border-top: solid 3px rgba(0,0,0,.05);
    position: relative;
    top: 52vw;
    min-width: 500px;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 30px;
  max-width: 800px;
}
.footer-container p {
  font-weight: bold;
  font-size: 18px;
  margin: 0px;
  color: #4b4b4b;
}



/* MAP CSS */
#mapDivide{
  display: block;
}

.map{
  position: absolute;
  margin-bottom: 40px;
  padding-left: 0;
  padding-top: 10px;
}

.mapDivide, th {
  display: table-cell;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

#mapDivide img {
  width: 10vw;
  z-index: 1;
}

#borderLine {
  display: flex;
  position: absolute;
  z-index: 1;
}

#bLine {
  width: 40vw;
  opacity: 0.5;
}

#topo{
  box-shadow:0 0 8px gray;
}

#topo th {
  position: relative;
}

#topo th::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: background-color 0.5s;
}

#topo th:hover::before {
  background-color: rgba(0,0,0, 0.4);
}

#bigMap {
  position: relative;
  width: 40vw;
}

#mapBack{
  position: relative;
  font-size: 1em;
}

#mapBack::before{
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  left: 35px;
  border-top: 3px solid #4b4b4b;
  border-right: 3px solid #4b4b4b;
  transform: rotate(45deg);
}


#bigMap div{
  position: relative;
  width: 40vw;
}

#bigMap img {
  width: 40vw;
  height: 100%;
}

.mapSection {
  display: flex;
  position: absolute;
  width: 45vw;
  top: 0;
  left: 0;
}

.mapSection th{
  display: table-cell;
  position: relative;
  text-align: center;
  font-size: 1.5vw;
  width:calc(40vw/6);
  height:calc(40vw/6);
  color: rgba(0,0,0, 0.7);
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

.mapSection th::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: background-color 0.5s;
}

.mapSection th:hover::before{
  background-color: rgba(0,0,0, 0.4);
}

.mapSection a {
  vertical-align: middle;
  top: 10rem;
}

